/*
CS405_Group 03
"The Workplace of Today" (Static Website)

Members:
Aguilar, Edward John    ->  Assistant Developer
Batu, Laurence Angelo   ->  Project Leader
							Main Developer

Chiangco, Crista Mae    ->  Website and Pages Layout Handler
							Main Designer
Casi, Maria Kyla        ->  Content Gatherer (News, Informations and Blogs)
							Assistant Designer
Inodeo, Chara Mae       ->  Content Gatherer (News, Informations and Blogs)
							Assistant Designer
*/

.author_content {
	position: absolute;
	float: right;
	right: 2vw;
	top: 5vw;
	height: wrap;
	width: 20vw;
	padding: 1vw 2vw 1vw 2vw;
    background-color: rgba(240, 248, 255, 0.562);
}

.wd {
	text-align: center;
	width: inherit;
}

.line {
	width: 18vw;
	text-align: center;
	border: solid;
	color: maroon;
}

.author_img {
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
}

.author_font {
	font-family: century gothic;
	font-size: 16px;
}