/* 
    CS405_Group 03
    "The Workplace of Today" (Static Website)

    Members:
    Aguilar, Edward John    ->  Assistant Developer
    Batu, Laurence Angelo   ->  Project Leader
                                Main Developer
       
    Chiangco, Crista Mae    ->  Website and Pages Layout Handler
                                Main Designer                         
    Casi, Maria Kyla        ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
    Inodeo, Chara Mae       ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
*/

/* 
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

.aboutus_content {
    margin : 8% 15% 10% 15%;
    padding : 5vw 10vw 5vw 10vw;
    position : absolute;
    background-color : rgba(255, 255, 255, 0.8);
    color : black;
    height: wrap;
}

article {
    text-indent : 50px;
}

#abouttitle {
    border: 2px solid black;
    padding: 2px;
    text-align: center;
    background-color: maroon;
    color: white;
}

h3 {
    background-color: darkgrey;
    color: black;
    padding: 1% 0% 0% 3%;
}

#member {
    list-style: none;
    width: 70%;
    height: 20vh;
}

#pic {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 100%;
}

#name {
    font-weight: bold;
}

#we_info {
    width: inherit;
    padding: 2%;
}

#img {
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

#cws {
    list-style: none;
    line-height: 1.6;
}

#socmed:hover {
    color: maroon;
    text-decoration: underline;
}

#socmed:active {
    color: crimson;
}

#others {
    line-height: 2vw;
}