/* 
    CS405_Group 03
    "The Workplace of Today" (Static Website)

    Members:
    Aguilar, Edward John    ->  Assistant Developer
    Batu, Laurence Angelo   ->  Project Leader
                                Main Developer
       
    Chiangco, Crista Mae    ->  Website and Pages Layout Handler
                                Main Designer                         
    Casi, Maria Kyla        ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
    Inodeo, Chara Mae       ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
*/

.user_img {
    right: 0;
    margin: 1vw 3.3vw 0vw 0vw;
    border-radius: 50%;
    width : 5vw;
    height : 5vw;
    position: fixed;
}

div.signup_content {
    /* clear: left; */
    position: fixed;
	/* padding : 0% 0% 1% 1%; */
    padding-top: 1%;
    right: 0;
    margin-top: 5.6%;
    margin-right: 2%;
}

li.acc {
    list-style: none;
    background-color: maroon;
	text-align: center;
	font-size: 20px;
    padding: 10%;
    width: 10vw;
    height: 3vh;
}

a.sign {
    color: white;
    text-decoration: none;
}

a.sign:hover, li.acc:hover {
   color: black;
   background-color: rgb(160, 39, 39);
   transition: ease 0.5s;
}

a.sign:active, li.acc:active {
    background-color: rgb(160, 39, 39);;
    color: white;
}



/* Dropdown for Account... */

.acc_dropdwn {
	float: left;
	overflow: hidden;
}


.acc_dropdwn {
	font-size: 30px;
	border: none;
	outline: none;
	color: white;
	padding: 0px 20px 0px 20px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}


.acc_dropdwn:hover, .user_img:hover {
	color : black;
	transition: ease 0.5s;
}


.signup_content {
	display: none;
	position: absolute;
	margin: 0vw 0vw 0vw -2vw;
}

.acc_dropdwn:hover .signup_content {
	display: block;
}

/* End Dropdown for Account... */