div.signup_content {
    float: right;
    clear:left;
    position: sticky;
    margin-top: 6%;
    right: 0;
    background-color: yellow;
    width: 20%
}

li.active_acc, li.signin_content {
    padding: 1% 10% 1% 10%;
    text-align: center;
    width: 24%;
    list-style: none;
    background-color: white;
}

a.sign {
    text-decoration: none;
    color: black;
}

a.sign, li.active_acc:hover, li.signin_content:hover {
    background-color: darkgrey;
    color: white;
}

a.sign, li.active_acc:active, li.signin_content:active {
    background-color: lightgrey;
    color: black;
    transition: ease 0.5s;
}