body, input, button {font-family: century gothic;}

button {
    margin-top: 5%;
    border-radius: 10px;
    padding: 1% 5%;
    background-color: maroon;
    color: white;
}

button:hover {background-color: crimson; color: black;}

button:active {background-color: red; color: white;}

.form_container {
    background-color: rgba(169, 169, 169, 0.5);
    max-width: 50%;
    text-align: center;
    margin: auto;
    padding: 2% 4% 2% 4%;
}

form {background-color: white; padding: 3% 1% 3% 1%;}

table {
    margin: auto;
    width: 80%;
    height: wrap;
}

#lbl {
    text-align: right;
    padding-right: 2%;
    width: 30%;
}

#inp {padding: 2% 2% 2% 2%; width: 50%;}

#txt, #txt_add {width: 200px; text-transform: capitalize;}

#txt_add {width: 300px;}

#txt_acc {width: 60%; margin: 0.5% 0;}

#account {
    text-align: center;
}

#txt::placeholder, #txt_add {font-style: italic;}

#txt_acc {font-style: none;}

input {
    border: none;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 2%;
    font-size: 16;
}

input:focus {
    background-color: rgba(220, 20, 60, 0.5); 
    font-weight: bold; 
    outline: none;
}
/* 
table, tr, td {
    border: 1px solid black;
} */