/* 
    CS405_Group 03
    "The Workplace of Today" (Static Website)

    Members:
    Aguilar, Edward John    ->  Assistant Developer
    Batu, Laurence Angelo   ->  Project Leader
                                Main Developer
       
    Chiangco, Crista Mae    ->  Website and Pages Layout Handler
                                Main Designer                         
    Casi, Maria Kyla        ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
    Inodeo, Chara Mae       ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
*/

/* 
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

.footer_content {
    width: 100%;
    bottom: 0;
    margin : 0;
    position : fixed;
    background-color : maroon;
    font-size : 12;
    color : #ffffff;
    text-align : center;
    border-top: 5px solid black;
    padding: 0.5vw 0vw 0.5vw 0vw;
}

b {
    margin: 2vw;
}

.terms, .sitemap, .privacy {
    color: #ffffff;
    text-decoration: none;
}

.terms:hover, .sitemap:hover, .privacy:hover {
    text-decoration: underline;
}

.terms:active, .sitemap:active, .privacy:active {
    color: darkgray;
}

.followFB, .followINSTA, .followTWITTER {
    width : 1.6em;
    height : 1.6em;
    object-fit : contain;
    margin : 0vw 0vw -0.5vw 0vw;
}