/* 
    CS405_Group 03
    "The Workplace of Today" (Static Website)

    Members:
    Aguilar, Edward John    ->  Assistant Developer
    Batu, Laurence Angelo   ->  Project Leader
                                Main Developer
       
    Chiangco, Crista Mae    ->  Website and Pages Layout Handler
                                Main Designer                         
    Casi, Maria Kyla        ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
    Inodeo, Chara Mae       ->  Content Gatherer (News, Informations and Blogs)
                                Assistant Designer
*/

.user_img {
    right: 0;
    margin: .8vw 3.3vw 0vw 0vw;
    border-radius: 50%;
    width : 5vw;
    height : 5vw;
    position: fixed;
    border: 3px solid white;
}

div.signup_content {
    position: fixed;
    padding-top: 1%;
    right: 0;
    margin-top: 5.6%;
    margin-right: 2%;
}

li.acc {
    list-style: none;
    background-color: maroon;
	text-align: center;
	font-size: 15px;
    padding: 5%;
    width: 11.1vw;
    height: 3vh;
}

li.breakline {
    list-style: none;
    background-color: maroon;
	text-align: center;
	font-size: 15px;
    padding: 0% 10% 0% 10%;
    width: 10vw;
    height: .3vw;
}

li.sign_in, #sign_in_name, #sign_in_pass {
    list-style: none;
    background-color: maroon;
	text-align: center;
	font-size: 15px;
    padding: 5% 10% 5% 10%;
    margin-top: -0.5vw;
    margin-bottom: -0.8vw;
    width: 10vw;
    height: 3vh;
}

input#sign_in_name, input#sign_in_pass {
    width: 9.85vw;
    height: 1.55vw;
    border: 1px solid black;
}

input#sign_in_name {
    margin-bottom: 0.5vw;
}

input#sign_in_pass {
    margin-bottom: -1vw;
}

a.sign, .signbtn, li.sign_in, #sign_in_name, #sign_in_pass {
    color: white;
    text-decoration: none;
}

a.sign:hover, .signbtn:hover,  li.acc:hover {
   color: black;
   background-color: rgb(160, 39, 39);
   transition: ease 0.5s;
}

a.sign:active, .signbtn:active,  li.acc:active {
    background-color: rgb(160, 39, 39);;
    color: white;
}

.signbtn {
    border: none;
    background: none;
    font-size: inherit;
    padding: 10px 52px 10px 52px;
    margin-top: -5px;
    margin-left: -5px;
}

/* Dropdown for Account... */

.acc_dropdwn {
	float: left;
	overflow: hidden;
}

.acc_dropdwn {
	font-size: 30px;
	border: none;
	outline: none;
	color: white;
	padding: 0px 20px 0px 20px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.acc_dropdwn:hover, .user_img:hover {
	color : black;
	transition: ease 0.5s;
}

.signup_content {
	display: none;
	position: absolute;
	margin: 0vw 0vw 0vw -2vw;
}

.acc_dropdwn:hover .signup_content {
	display: block;
}

/* End Dropdown for Account... */