div.signup_content {
    clear:left;
    position: fixed;
	padding : 1% 0% 1% 1%;
    right: 0;
    
    margin-top: 6%;
}

.user_img {
    right: 0;
    margin: .5vw 3vw 0vw 0vw;
    border-radius: 50%;
    width : 5vw;
    height : 5vw;
    position: fixed;
}

li.acc {
    list-style: none;
    background-color: white;
    padding: 0% 0% 2% 3%;
    width: 20vw;
    height: 10vh;
}

a.sign {
    color: white;
    text-decoration: none;
}

a.sign:hover, li.acc:hover {
   color: black;
   background-color: darkgrey;
   transition: ease 0.5s;
}

a.sign:active, li.acc:active {
    background-color: maroon;
    color: white;
}